*.o
parser/parser
.DS_Store
/dparser
/dparser_build
*.zip
/tests*
parser/tests/syntax_tests
parser/tests/substitution_tests
parser/tests/tokenizer_tests
parser/tests/remove_quotes_tests
parser/tests/quote_skipping
libft.a
#/omayer_lib
parser/parser_advorace.a
